<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Account</string>
				</dict>
			</array>
		</dict>
        <key>CFBundleURLTypes</key>
        <array>
          <dict>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>fb665992965421456</string>
          </array>
          </dict>
        </array>
        <key>FacebookAppID</key>
        <string>665992965421456</string>
        <key>FacebookClientToken</key>
        <string>b1a9c06deb2ff732ab42c792793a0a8a</string>
        <key>FacebookDisplayName</key>
        <string>NewspaperApp</string>
	</dict>
</dict>
</plist>
